<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
       <div class="container">
        <div class="card mt-5 bg-secondary">
            <div class="card-body mt-5 text-center">
              <div class="container text-center">
                  <img
                  th:src="@{'/image/contact_logo.png'}"
                  alt="dashboard logo"
                  srcset=""
                />
                 </div>
                <div class="text-white">
                    <h1 class="fst-italic  mt-4" >Mohit Poonia</h1>
                    <h2><span><i class="fas fa-phone"></i></span> 9467493834</h2>
                    <h2><span><i class="fas fa-envelope-square"></i></span> mohitpoonia823@gmail.com</h2>
                    <h2> Hisar(125001) ,Haryana </h2>
                </div>
                 
            </div>
        </div>

          <img th:src="@{'/image/about.png'}" style="width:100%; height: 100vh;" class="mt-5" alt="" srcset="">
       </div>

    </section>
</body>
</html>